<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.lsp4e.languageServer">
      <contentTypeMapping
            contentType="org.eclipse.core.runtime.xml"
            id="Camel LSP Server for XML"
            languageId="LANGUAGE_ID_APACHE_CAMEL">
     </contentTypeMapping>
     <contentTypeMapping
            contentType="org.eclipse.jdt.core.javaSource"
            id="Camel LSP Server for Java"
            languageId="LANGUAGE_ID_APACHE_CAMEL">
      </contentTypeMapping>
      <server
            class="com.github.cameltooling.eclipse.client.CamelLSPStreamConnectionProvider"
            id="Camel LSP Server for Java"
            label="Camel LSP Server for Java">
      </server>
      <server
            class="com.github.cameltooling.eclipse.client.CamelLSPStreamConnectionProvider"
            id="Camel LSP Server for XML"
            label="Camel LSP Server for XML">
      </server>
      <contentTypeMapping
            contentType="com.github.cameltooling.eclipse.camelk.groovy"
            id="Camel LSP Server for Camel K groovy"
            languageId="LANGUAGE_ID_APACHE_CAMEL">
      </contentTypeMapping>
      <server
            class="com.github.cameltooling.eclipse.client.CamelLSPStreamConnectionProvider"
            id="Camel LSP Server for Camel K groovy"
            label="Camel LSP Server for Camel K groovy">
      </server>
      <contentTypeMapping
            contentType="org.eclipse.jdt.core.javaProperties"
            id="Camel LSP Server for Properties files"
            languageId="LANGUAGE_ID_APACHE_CAMEL">
      </contentTypeMapping>
      <server
            class="com.github.cameltooling.eclipse.client.CamelLSPStreamConnectionProvider"
            id="Camel LSP Server for Properties files"
            label="Camel LSP Server for Properties files (Camel Kafka Connector and Camel on SpringBoot)">
      </server>
      <server
            class="com.github.cameltooling.eclipse.client.CamelLSPStreamConnectionProvider"
            id="Camel LSP Server for Camel K Kotlin"
            label="Camel LSP Server for Camel K Kotlin">
      </server>
      <contentTypeMapping
            contentType="com.github.cameltooling.eclipse.camelk.kotlin"
            id="Camel LSP Server for Camel K Kotlin"
            languageId="LANGUAGE_ID_APACHE_CAMEL">
      </contentTypeMapping>
      <contentTypeMapping
            contentType="com.github.cameltooling.eclipse.camelk.javascript"
            id="Camel LSP Server for Camel K Javascript"
            languageId="LANGUAGE_ID_APACHE_CAMEL">
      </contentTypeMapping>
      <server
            class="com.github.cameltooling.eclipse.client.CamelLSPStreamConnectionProvider"
            id="Camel LSP Server for Camel K Javascript"
            label="Camel LSP Server for Camel K Javascript">
      </server>

	  <contentTypeMapping
            contentType="com.github.cameltooling.eclipse.camelk.yaml"
            id="Camel LSP Server for Camel K YAML"
            languageId="LANGUAGE_ID_APACHE_CAMEL">
      </contentTypeMapping>
      <server
            class="com.github.cameltooling.eclipse.client.CamelLSPStreamConnectionProvider"
            id="Camel LSP Server for Camel K YAML"
            label="Camel LSP Server for Camel K YAML">
      </server>
   </extension>
   <extension
         point="org.eclipse.wst.sse.ui.completionProposal">
         <proposalCategory
           id="org.apache.camel.category"
           name="Apache Camel completion proposals">
  </proposalCategory>
 
  <proposalComputer
       activate="true"
       categoryId="org.apache.camel.category"
       class="com.github.cameltooling.eclipse.xml.completion.CamelURICompletionProposalComputer"
       id="org.apache.camel.xml.proposalcomputer">      
    <contentType id="org.eclipse.core.runtime.xml"/>      
  </proposalComputer> 
   </extension>
   <extension
         id="id1"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <javaCompletionProposalComputer
            activate="true"
            categoryId="org.eclipse.jdt.ui.defaultProposalCategory"
            class="com.github.cameltooling.eclipse.java.completion.CamelCompletionProposalComputer"
            needsSortingAfterFiltering="false">
      </javaCompletionProposalComputer>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="groovy"
            id="com.github.cameltooling.eclipse.camelk.groovy"
            name="Camel K Groovy content type"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="kts"
            id="com.github.cameltooling.eclipse.camelk.kotlin"
            name="Camel K Kotlin content type"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="js"
            id="com.github.cameltooling.eclipse.camelk.javascript"
            name="Camel K JavaScript content type"
            priority="normal">
      </content-type>
	  <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="yaml"
            id="com.github.cameltooling.eclipse.camelk.yaml"
            name="Camel K YAML content type"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.github.cameltooling.eclipse.preferences.CamelLanguageServerPreferencePage"
            id="com.github.camel-tooling.eclipse.client"
            name="Apache Camel">
      </page>
   </extension>

</plugin>
