<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?><target name="camel-lsp-eclipse" sequenceNumber="7">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.pde.feature.group" version="3.14.1500.v20230302-0300"/>
<unit id="org.eclipse.pde.source.feature.group" version="3.14.1500.v20230302-0300"/>
<unit id="org.eclipse.sdk.feature.group" version="4.27.0.v20230302-0300"/>
<unit id="org.eclipse.sdk.tests.feature.group" version="4.27.0.v20230302-0300"/>
<unit id="org.eclipse.test.feature.group" version="3.8.400.v20230219-1319"/>
<unit id="org.eclipse.jface.text.tests" version="3.13.0.v20230203-1344"/>
<repository location="https://download.eclipse.org/eclipse/updates/4.27/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.assertj" version="3.20.2.v20210706-1104"/>
<unit id="org.assertj.source" version="3.20.2.v20210706-1104"/>
<repository location="https://download.eclipse.org/tools/orbit/R-builds/R20220302172233/repository"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.lsp4e" version="0.15.0.202211292024"/>
<unit id="org.eclipse.lsp4e.jdt" version="0.10.2.202205031750"/>
<unit id="org.eclipse.lsp4j.sdk.feature.group" version="0.20.1.v20230228-1533"/>
<unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="3.29.0.v202212250111"/>
<unit id="org.eclipse.ui.genericeditor" version="1.2.400.v20221207-1659"/>
<repository location="https://download.eclipse.org/releases/2023-03"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.reddeer.codegen.feature.feature.group" version="4.5.0.v20230308-1253"/>
<unit id="org.eclipse.reddeer.eclipse.feature.feature.group" version="4.5.0.v20230308-1253"/>
<unit id="org.eclipse.reddeer.eclipse.feature.source.feature.group" version="4.5.0.v20230308-1253"/>
<unit id="org.eclipse.reddeer.gef.spy.feature.feature.group" version="4.5.0.v20230308-1253"/>
<unit id="org.eclipse.reddeer.graphiti.feature.feature.group" version="4.5.0.v20230308-1253"/>
<unit id="org.eclipse.reddeer.graphiti.feature.source.feature.group" version="4.5.0.v20230308-1253"/>
<unit id="org.eclipse.reddeer.logparser.feature.feature.group" version="4.5.0.v20230308-1253"/>
<unit id="org.eclipse.reddeer.logparser.feature.source.feature.group" version="4.5.0.v20230308-1253"/>
<unit id="org.eclipse.reddeer.recorder.feature.feature.group" version="4.5.0.v20230308-1253"/>
<unit id="org.eclipse.reddeer.recorder.feature.source.feature.group" version="4.5.0.v20230308-1253"/>
<unit id="org.eclipse.reddeer.spy.feature.feature.group" version="4.5.0.v20230308-1253"/>
<unit id="org.eclipse.reddeer.swt.feature.feature.group" version="4.5.0.v20230308-1253"/>
<unit id="org.eclipse.reddeer.swt.feature.source.feature.group" version="4.5.0.v20230308-1253"/>
<unit id="org.eclipse.reddeer.ui.feature.feature.group" version="4.5.0.v20230308-1253"/>
<unit id="org.eclipse.reddeer.ui.feature.source.feature.group" version="4.5.0.v20230308-1253"/>
<repository location="https://archive.eclipse.org/reddeer/downloads/releases/4.5.0/"/>
</location>
</locations>
</target>
